.home{
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__video{
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium, down){
      width: 100%;
    }

    @include breakpoint(small, down){
      flex-direction: column;
    }

    a{
      margin-top: 40px;
      text-decoration: none;

      @include breakpoint(small, down){
        align-self : center;
        width: 100%;
      }

      & .mdc-button{
        background-color: white;
        text-decoration: none;
        color: $main-color;
        padding: 10px 70px;

        @include breakpoint(medium, down){
          padding: 10px 50px;
        }

        @include breakpoint(small, down){
          width: 100%;
        }
      }

      &:nth-child(3){
        margin-left: 40px;

        @include breakpoint(small, down){
          margin-left: 0px;
        }

        & .mdc-button{
          background-color: $main-color;
          text-decoration: none;
          color: white;
        }
      }
    }

    &--wraper{
      display: flex;
      justify-content: space-between;
      max-width: 75em;
      width: 90%;
      margin: 0 auto;
      margin-top: 40px;

      @include breakpoint(medium, down){
        flex-direction: column;
      }
    }

    &--content{
      width: 38%;
      @include breakpoint(medium, down){
        width: 100%;
      }

      h1{
        color: white;
        margin-bottom: 50px;
        text-transform: uppercase;
        @include font-size($h1);

        @include breakpoint(medium, down){
          text-align: center;
        }
      }
      p{
        color: white;
        align-self: center;
        @include font-size($h3);
        margin-top: 20px;
      }
    }

    &--section{
      background-image: url(../images/main_bg.png);
      background-position: center;
      background-size: cover;
      padding-bottom: 100px;
      position: relative;
      // margin-bottom: 80px;
      padding-top: 50px;

      &::after{
        position: absolute;
        content: '';
        border-bottom: 5px solid $main-color;
        border-radius: 4px;
        border-right: 5px solid $main-color;
        bottom: 30px;
        left: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    iframe{
      margin: 0 auto;
      width: 100%;
      height: 25em;
      margin-top: 40px;
    }
  }

  &__asso{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(medium, down){
      flex-direction: column;
    }

    &--content{
      width: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: calc((100% - 75em) / 2);
      @include breakpoint(medium, down){
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      a{
        align-self: center;
        margin-top: 40px;
        text-decoration: none;

        & .mdc-button{
          background-color:$main-color;
          text-decoration: none;
          color: white;
          padding: 10px 70px;

          @include breakpoint(medium, down){
           padding: 0 15px;
          }
        }
      }
    }
    &--image{
      width: 40%;
      background-position: center;
      background-size: 60%;
      height: 450px;
      box-shadow: 0px 17px 27px 0px rgba(0, 0, 0, 0.07);
      background-repeat: no-repeat;


      @include breakpoint(medium, down){
        box-shadow: 0px -17px 27px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
        margin: 0 auto;
        margin-bottom: 0px;
      }
    }
  }

  &__campain{
    background-color: $main-color;

    &--wraper{
      max-width: 75em;
      width: 90%;
      margin: 0 auto;

      @include breakpoint(large, down){
        width: 90%;
        margin: 0 auto;
       }
    }
    h2{
      text-align: center;
      @include font-size($h2);
      color: white;
      margin-top: 3em;
      margin-bottom: 2em;
    }

    p{
      text-align: center;
      color: white;
      @include font-size($p);
      margin-bottom: 2em;
    }

    &__vds{
      display: flex !important;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;

      &:focus{
        outline: none;
      }

      &.slick-center iframe{
        transform: scale(1.08);
        transition: 0.5s ease all;
      }
      iframe{
        transition: 0.5s ease all;
        width: 80%;
        transform: scale(0.90);

        @include breakpoint(medium, down){
         width: 100%;
        }
      }

      a{
        margin-top: 4em;
        text-decoration: none;

        & .mdc-button{
          background-color:white;
          text-decoration: none;
          color: $main-color;
          padding: 10px 70px;
        }
      }

      &--wraper{
        & .slick-track{
          padding: 20px 0px;
        }

        & .arrows{
          position: absolute;
          width: 20px;
          top: 50%;
          height: 20px;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
          transform: translateY(-50%) rotate(45deg);
          cursor: pointer;
          z-index: 1;

        }

        & .arrow__next{
          transform: translateY(-50%) rotate(-135deg);
          right: 10%;
          @include breakpoint(large, down){
           right: 5%;
          }
          @include breakpoint(medium, down){
           right: 2%;
           transform: translateY(0%) rotate(-135deg);
           top: calc(100% - 90px);
          }
        }
        & .arrow__prev{
          left: 10%;
          @include breakpoint(large, down){
           left: 5%;
          }
          @include breakpoint(medium, down){
           left: 2%;
           top: calc(100% - 90px);
           transform: translateY(0%) rotate(45deg);
          }
        }
      }
    }
  }

  &__reasons{
    margin-bottom: 4em;
    h2{
      color: $main-color;
      @include font-size($h2);
      text-align: center;
      text-transform: uppercase;
      margin-top: 4em;
    }

    &--wraper{
      display: flex;
      margin: 0 auto;
      max-width: 75em;
      width: 90%;
      flex-direction: column;
    }
    &--simple{
      width: 42%;
      margin-right: auto;
      margin-left: 80px;
      position: relative;
      @include breakpoint(small, down){
        width: calc(100% - 80px);
      }

      h4{
        color: $main-color;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      p{}

      &.odd{
        margin-left: auto;
        margin-right: 0;
        @include breakpoint(small, down){
          margin-left: 80px;
        }
      }

      &::before{
        content: var(--key);
        position: absolute;
        top: 50%;
        left: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: translateY(-50%) translateX(-100%);
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        @include font-size($h2);
        font-weight: bold;
      }
    }
  }
}
