.asso{
  display: flex;
  flex-direction: column;

  &--title{
    @include font-size($h1);
    color: white;
    padding-top: 4em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include breakpoint(all, down){
      text-align: center;
    }

    & > div{
      width: 85%;
      margin: 0 auto;
    }

    h1{
      position: relative;
      padding-bottom: 2em;
    }
  }

  &--content{
    max-width: 75em;
    margin: 4em auto;

    @include breakpoint(all, down){
      max-width: 95%;
    }

    p{
      @include font-size($h3);
    }
  }

  &__strat{
    max-width: 75em;
    margin: 0 auto;

    @include breakpoint(all, down){
      max-width: 95%;
    }

    h2{
      color: $main-color;
      margin-bottom:  5em;
      margin-top:3em;

      text-align: center;
    }

    &__boxes{
      padding: 3em 2em;
      border-radius: 10px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
      width: 25%;
      position: relative;

      @include breakpoint(all, down){
        max-width: 75%;
        width: 100%;
        margin-bottom: 4em;
      }

      &:before{
        content: '1';
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 2.5em;
        height: 2.5em;
        @include font-size($h2);
        background-color: $main-color;
        border-radius: 50%;
        left: 0;
        text-align: center;
        color: white;
        transform: translateX(-50%) translateY(-50%);
        font-weight: bold;
      }

      &:nth-child(2):before{
        content: '2';

        @include breakpoint(all, down){
          left: 100%;
        }
      }
      &:nth-child(3):before{
        content: '3';
      }


      &--wraper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(all, down){
          flex-direction: column;
        }
      }

      h4{
        @include font-size($h3);
        color:  $main-color;
        margin-top: 1em;
        margin-bottom: 1em;

        @include breakpoint(all, down){
          text-align: center;
        }
      }
    }
  }

  &__team{
    width: 100%;
    max-width: 75em;
    margin: 0 auto;
    margin-bottom: 5em;

    @include breakpoint(all, down){
      max-width: 95%;
      width: 100%;
      margin-bottom: 4em;
    }

    h3{
      @include font-size($h3);
      color: $main-color;
      text-align: center;
      margin-top: 4em;
      margin-bottom: 3em;
    }

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li{
        width: 38%;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: 1em;
        position: relative;
        padding-left: 3em;

        @include breakpoint(all, down){
          width: 55%;
        }

        &:before{
          content: '';
          position: absolute;
          width: 3em;
          height: 3em;
          top: 50%;
          left: -1em;
          background-image: url(../images/baseline-person-24px.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transform: translateY(-50%);
        }
        span{
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }
}
