.footer{
  background: linear-gradient( 90deg, rgb(16,16,16) 0%, rgb(35,31,32) 100%);

  &--logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;

    img{
      max-width: 100px;
      width: 100%;
      align-self: center;
    }
  }
  &--socials{
    display: flex;
    justify-content: center;
    flex-direction: column;
    h4{
      text-align: center;
      font-size: 21px;
      color: white;
    }

    &--icons{
      display: flex;
      max-width: 200px;
      justify-content: space-between;
      width: 100%;
      align-self: center;

      a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
          height: 30px;
        }
      }
    }

    & > a{
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 40px;
      padding-bottom: 50px;
    }
  }
  #menu-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    li{
      align-self: center;
      margin-top: 15px;
      margin-bottom: 15px;

      a{
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  a{
    color: white;
  }
}


.cookie-notice-container{
  & .button{
    background-color: white;
    color: black;
  }
}
