.main-menu__dstp{
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: calc(100% - 20em);
  padding-right: 10em;
  padding-left: 10em;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);

  &--logo{
    align-self: center;
    height: 38px;

    img{
      max-width: 120px;
    }
  }


  & .menu-header-container{
    & .menu{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    li{
      padding: 15px 25px;

      &.current-menu-item{
        a{
          color: $main-color;
        }
      }

      a{
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
    }
  }


  @include breakpoint(medium, down){
    display: none;
   }
}
