// Breakpoint mixin
@mixin breakpoint($breakpoint , $operator) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints , $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @if $operator="down" {
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
    } @else if $operator="up"{
      @media (min-width: ($breakpoint-value - 1)) {
        @content;
      }
    }


  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@function setUnit( $value ){
    @return if( unitless( $value ), $value * 1px, $value );
}

@function getEmValue( $value ){
    @return setUnit( $value ) / 16px;
}

@function px-to-em( $value ){
    @return getEmValue( $value ) * 1em;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: px-to-em($size);
}
