$breakpoints: (
  small: 576px,
  medium: 968px,
  large: 1200px,
  all: 75em,
);

$main-font : 'GillSans', sans-serif;

$main-color : #B7192F; 

$h1: 38px;
$h2: 26px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$p:  16px;

@font-face {
  font-family:  'GillSans';
  src:          url('../fonts/GillSans.ttc') format('ttf');
}
